<ion-header no-border>
    <ion-toolbar>
  
      <ion-buttons>
          <ion-button (click)="regresar()">
              <ion-icon slot="start" name="arrow-round-back"></ion-icon>
              <ion-label>Regresar</ion-label>
          </ion-button>
      </ion-buttons>
  
    </ion-toolbar>
  </ion-header>


<ion-content padding>

<form class="animated fadeIn fast" (ngSubmit)= "registro( fRegistro ) " #fRegistro="ngForm">
  <ion-grid fixed >

      <ion-row *ngIf="!actualizar">
          <ion-col text-center>
              <h3>Agregar nuevo vestido</h3>
          </ion-col>
      </ion-row>

    <ion-row>
      <ion-col size="12" text-center>
        <img class="imagen" src="/assets/icon/wedding-dress2.png" ><img>
      </ion-col>
    </ion-row>


    <ion-row>

      <ion-col >
          <ion-item>
              <ion-label position="floating">Modelo</ion-label>
              <ion-input name="modelo"
                         type="text"
                         [(ngModel)]="nuevoVestido.modelo"
                         required></ion-input>   
            </ion-item> 
      </ion-col >

      <ion-col >
           
            <ion-item>
                <ion-label position="floating">Color</ion-label>
                <ion-input name="color"
                           type="text"
                           [(ngModel)]="nuevoVestido.color"
                           required></ion-input>   
              </ion-item>  
      </ion-col >
  </ion-row>

  <ion-row>
      <ion-col >
          <ion-item>
              <ion-label position="floating">Tela</ion-label>
              <ion-input name="tela"
                        type="text"
                        [(ngModel)]="nuevoVestido.tela"
                        required></ion-input>   
            </ion-item> 
      </ion-col >

      <ion-col >

          <ion-item>
              <ion-label position="floating">Estado</ion-label>
              <ion-input name="estado"
                         type="text"
                         [(ngModel)]="nuevoVestido.estado"
                         required></ion-input>   
            </ion-item>   

      </ion-col >
</ion-row>

<ion-row>
    <ion-col >
            <ion-list-header>
                <ion-label><h2>tallas</h2></ion-label>
              </ion-list-header> 
    </ion-col >
</ion-row>

<ion-row class="radios" text-center>
   <ion-radio-group  [(ngModel)]="nuevoVestido.talla" name="talla" required> 
      <ion-col size="2" *ngFor="let talla of tallas">
            <ion-label>{{ talla }}</ion-label>
            <ion-radio  [value]="talla"></ion-radio>
      </ion-col >
  </ion-radio-group> 
</ion-row>



<ion-row>
    <ion-col >
            <ion-list>
                    <ion-item *ngFor="let complemento of complementos">
                      <ion-label>{{complemento.val}}</ion-label>
                      <ion-checkbox slot="end" [(ngModel)]="complemento.isChecked" name="complemento"></ion-checkbox>
                    </ion-item>
                  </ion-list>
    </ion-col >

</ion-row> 

<ion-item>
    <ion-label position="floating">Descripcion</ion-label>
    <ion-textarea 
        [(ngModel)]="nuevoVestido.observaciones" name="observaciones" ></ion-textarea>
   </ion-item>
  
  <ion-row>
      <ion-col >
          <ion-button [disabled]="creando"
                      class="top-20"
                      type="submit"
                      expand='full'
                      color="tertiary"
                      shape="round">
              Crear Vestido
          </ion-button>
      </ion-col>
  </ion-row>            

</ion-grid>

</form>


</ion-content>

