<ion-list>

  <ion-list-header>
          <ion-label><h2>Pagos</h2></ion-label>
          <p *ngIf="faltante != 0 || pagos.length == 0 ">
              <span class="ion-float-right"><a (click)="pagosFormulario( clienteId, totalPagar, faltante, sumaPagos )" >Agregar nuevo</a></span>
          </p>

          <ion-button size="small" *ngIf="faltante == 0 &&  pagos.length > 0" class="ion-float-right" color="success"> <ion-icon name="checkmark" slot="start"></ion-icon> Pagado</ion-button>
  </ion-list-header>


  <div class="citasContainer" *ngIf="pagos.length == 0">
    
      <ion-slides [options]="slideSoloOpts">
        <ion-slide class="image-slide" >
            No exite ningun pago asignado
        </ion-slide>
      </ion-slides>

    </div>

  <div *ngIf=" pagos.length > 0">
    <ion-card *ngFor="let pago of pagos">
      <ion-item>
          <ion-icon  class="cash" name="cash" slot="start"></ion-icon>
        <ion-label><b>Fecha:</b> {{ pago.fecha | date:"dd/MM/yyyy"}}  <span class="ion-float-right"> $ {{ pago.monto }}</span></ion-label>
      </ion-item>
    </ion-card>

    <ion-row>
      <ion-col size-xs="12" size-sm="6" >
          <ion-item>
              <ion-label>Faltante: <span text-center ><b>${{ faltante }}</b></span></ion-label>
            </ion-item>
      </ion-col>
      <ion-col   size-xs="12" size-sm="6"   >
          <ion-item>
              <ion-label>Total a pagar: <span text-center ><b>${{ totalPagar }}</b></span> </ion-label>
            </ion-item>
      </ion-col>
      
    </ion-row>
  </div>
    

</ion-list>