<!-- <ion-header no-border>
  <ion-toolbar>
    <ion-title>
      Vestidos
    </ion-title>

    <ion-buttons slot="end">
        <ion-button (click)="mostrarPop( $event)">
          <ion-icon color="primary" name = "contact" slot="icon-only"></ion-icon>
        </ion-button>

      </ion-buttons>
      
  </ion-toolbar>
</ion-header> -->

<app-header titulo="Vestidos"></app-header>

<ion-content>

    <ion-refresher color="primary"  slot="end" (ionRefresh)="recargar($event)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>

    <ion-slides class="slide-full" *ngIf="clientes.length == 0" [options]="slideSoloOpts">
        <ion-slide  >
           <p class="centrado">
              No hay ningun vestido asignado  
           </p> 
        </ion-slide>
      </ion-slides>

      <div *ngIf="clientes.length > 0">
          <ion-searchbar  placeholder="Buscar" animated  (ionChange) = "buscar( $event )"></ion-searchbar>
          <app-lista-vestidos  [clientes]="clientes | filtro:textoBuscar: 'nombre'"></app-lista-vestidos>
      </div>

</ion-content>
