// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #ea5995;
  --ion-color-primary-rgb: 234,89,149;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 0,0,0;
  --ion-color-primary-shade: #ce4e83;
  --ion-color-primary-tint: #ec6aa0;



  /** secondary **/
  --ion-color-secondary: #a98585;
  --ion-color-secondary-rgb: 169,133,133;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0,0,0;
  --ion-color-secondary-shade: #957575;
  --ion-color-secondary-tint: #b29191;

  /** tertiary **/
  /* --ion-color-tertiary: #ff17ba;
  --ion-color-tertiary-rgb: 255,23,186;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255,255,255;
  --ion-color-tertiary-shade: #e014a4;
  --ion-color-tertiary-tint: #ff2ec1; */

  --ion-color-tertiary: #cc4c81;
  --ion-color-tertiary-rgb: 204,76,129;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255,255,255;
  --ion-color-tertiary-shade: #b44372;
  --ion-color-tertiary-tint: #d15e8e;

  /** success **/
  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16, 220, 96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  /** warning **/
  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  /** danger **/
  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

/**  **/
--ion-color-salir: #ffffff;
--ion-color-salir-rgb: 255,255,255;
--ion-color-salir-contrast: #000000;
--ion-color-salir-contrast-rgb: 0,0,0;
--ion-color-salir-shade: #e0e0e0;
--ion-color-salir-tint: #ffffff;

--ion-color-cita: #78cefc;
--ion-color-cita-rgb: 120,206,252;
--ion-color-cita-contrast: #000000;
--ion-color-cita-contrast-rgb: 0,0,0;
--ion-color-cita-shade: #6ab5de;
--ion-color-cita-tint: #86d3fc;


--ion-color-contacto: #75cc7f;
--ion-color-contacto-rgb: 117,204,127;
--ion-color-contacto-contrast: #000000;
--ion-color-contacto-contrast-rgb: 0,0,0;
--ion-color-contacto-shade: #67b470;
--ion-color-contacto-tint: #83d18c;

}

.ion-color-salir {
  --ion-color-base: var(--ion-color-salir) !important;
  --ion-color-base-rgb: var(--ion-color-salir-rgb) !important;
  --ion-color-contrast: var(--ion-color-salir-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-salir-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-salir-shade) !important;
  --ion-color-tint: var(--ion-color-salir-tint) !important;
}

.ion-color-cita {
  --ion-color-base: var(--ion-color-cita) !important;
  --ion-color-base-rgb: var(--ion-color-cita-rgb) !important;
  --ion-color-contrast: var(--ion-color-cita-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-cita-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-cita-shade) !important;
  --ion-color-tint: var(--ion-color-cita-tint) !important;
}

.ion-color-contacto {
  --ion-color-base: var(--ion-color-contacto) !important;
  --ion-color-base-rgb: var(--ion-color-contacto-rgb) !important;
  --ion-color-contrast: var(--ion-color-contacto-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-contacto-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-contacto-shade) !important;
  --ion-color-tint: var(--ion-color-contacto-tint) !important;
}