<ion-list class="animated fadeIn fast"  #list >
  
    <ion-item-sliding *ngFor="let cliente of clientes"> 
        <ion-item (click)="verDetalle( cliente.id_vestido)">
            <ion-img src="/assets/icon/wedding-dress.png" slot="start"></ion-img>
            <ion-label>
            <h3>
                <b>{{ cliente.nombre }} {{ cliente.apellidos }}</b>
            </h3>
            <p>
                {{ cliente.modelo }} 
            </p>
            </ion-label> 
        </ion-item>
    </ion-item-sliding> 
    
</ion-list>