<ion-header no-border>
  <ion-toolbar>

    <ion-buttons>
      <ion-back-button defaultHref="main/tabs/tab1"
                        text="Regresar"
                        icon="arrow-round-back">
      </ion-back-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content padding>

    <ion-list>
        <ion-list-header>
          <ion-label><h2>Cliente</h2></ion-label>
        </ion-list-header>

        <ion-item><b>Nombre: </b>   {{ cliente.nombre }} </ion-item>
        <ion-item><b>Apellidos: </b>  {{ cliente.apellidos }} </ion-item>
        <ion-item><b>Telefono: </b>   {{ cliente.telefono }} </ion-item>

      </ion-list>

      
<div *ngIf="cliente.id_vestido">     
      <ion-list >
          <ion-list-header>
            <ion-label>Vestido</ion-label>
          </ion-list-header>
  
          <ion-item><b>Modelo: </b>   {{ cliente.modelo }} </ion-item>
          <ion-item><b>Estado: </b>   {{ cliente.estado }} </ion-item>

          <p text-center>
              <ion-button fill="outline" slot="end" (click)="vestidoDetalle( cliente.id_vestido)">Ver mas</ion-button>
          </p>

          <ion-list>
              <ion-list-header>
                <ion-label><h2>Citas</h2></ion-label>
              </ion-list-header>
    

                <ion-card *ngFor="let cita of citas">
                    <ion-item>
                      
                      <ion-icon name="clipboard" slot="start"></ion-icon>
                      <ion-label> {{ cita.fecha | date}}  </ion-label>
                      <ion-button fill="outline" slot="end">Ver</ion-button>
                    </ion-item>
                  </ion-card>

                  <ion-slide class="slide-mas">
                    <ion-button  expand= "full"
                                  class="btn-mas"
                                  (click)="citasFormulario( cliente.id )">  
                
                      <ion-icon slot="icon-only" name="add"></ion-icon>
                    </ion-button>
                  </ion-slide>
      
            </ion-list>

  
        </ion-list>
      </div>
      
      <ion-list *ngIf="cliente.id_vestido">
          <ion-list-header>
            <ion-label><h2>Pagos</h2></ion-label>
          </ion-list-header>
  
          <ion-card *ngFor="let pago of pagos">
              <ion-item>
                
                <ion-icon  class="cash" name="cash" slot="start"></ion-icon>
                <ion-label>{{ pago.estado }}</ion-label>
                <ion-button fill="outline" slot="end">Ver</ion-button>
              </ion-item>
            
              <!-- <ion-card-content>
                This is content, without any paragraph or header tags,
                within an ion-card-content element.
              </ion-card-content> -->
            </ion-card>

            <ion-slide class="slide-mas">
                <ion-button  expand= "full"
                              class="btn-mas"
                              (click)="pagosFormulario( cliente.id )">  
            
                  <ion-icon slot="icon-only" name="add"></ion-icon>
                </ion-button>
              </ion-slide>
  
        </ion-list>


      <ion-grid *ngIf="!cliente.id_vestido">
          <ion-row>
        
            <ion-col size="6">
                <ion-button 
                            shape="round"
                            expand="block"
                            (click)="formularioVestido(cliente.id)"
                            > 
                            Agregar Vestido 
                </ion-button>
            </ion-col>
        
            <ion-col size="6">
        
                <ion-button 
                            shape="round"
                            expand="block"
                            (click)="citasFormulario( cliente.id )"> 
                            Agendar Cita 
                </ion-button>
        
            </ion-col>
          </ion-row>
        </ion-grid>


 
</ion-content>

   

