<ion-header no-border>
  <ion-toolbar>
    
    <!-- Default Segment -->
<ion-segment (ionChange)="segmentChanged($event)">
    <ion-segment-button value="clientes">
      <ion-label>Clientes</ion-label>
    </ion-segment-button>
    <ion-segment-button value="nuevos">
      <ion-label>Crear nuevo</ion-label>
    </ion-segment-button>
  </ion-segment>
    

  </ion-toolbar>
</ion-header>

<ion-content >
    
  <ion-list *ngIf="segment.value === 'clientes'" >
    <ion-item *ngFor="let cliente of clientes">
        <ion-icon color="primary" slot="start" name="contact"></ion-icon>
      <ion-label>
        <h3>
            <b>{{ cliente.nombre }} {{ cliente.apellidos }}</b>
        </h3>
        <p>
            {{ cliente.telefono }}
          </p>
      </ion-label>
      
    </ion-item>
  </ion-list>

  <form *ngIf="segment.value === 'nuevos'" (ngSubmit)= "registro( fRegistro ) " #fRegistro="ngForm">
    <ion-grid fixed>

        <ion-row>
            <ion-col text-center>
                <h3>Agregar nuevo cliente</h3>
            </ion-col>
        </ion-row>

      <ion-row>
        <ion-col size="12" text-center>
          <ion-icon color="primary" class="icono" name="contact"></ion-icon>
        </ion-col>
      </ion-row>


      <ion-row>
        <ion-col >

          <ion-list>
              <ion-item>
                <ion-label>Nombre</ion-label>
                <ion-input name="nombre"
                          type="text"
                          [(ngModel)]="nuevoCliente.nombre"
                          required></ion-input>
                </ion-item>  

                <ion-item>
                <ion-label>Apellidos</ion-label>
                <ion-input name="apellidos"
                            type="text"
                            [(ngModel)]="nuevoCliente.apellidos"
                            required></ion-input>   
                </ion-item>  
                <ion-item>
                    <ion-label>Telefono</ion-label>
                    <ion-input name="telefono"
                                type="number"
                                [(ngModel)]="nuevoCliente.telefono"
                                required></ion-input>   
                    </ion-item>    

          </ion-list>
        
        </ion-col>
      </ion-row>

      <ion-row>
          <ion-col >
              <ion-button class="top-20"
                           type="submit"
                          expand='full'
                          color="tertiary"
                          shape="round">
                  Crear cliente
              </ion-button>
          </ion-col>
      </ion-row>
    </ion-grid>
  </form>


</ion-content>
