.slidesContainer{
    height: 100%;
    width: 100%;
}

ion-title{
    color: #fff
}

ion-input{
    --border-color: blue;

    .item-highlight {
        height: var(--full-highlight-height);
    };
}