<!-- <ion-header  >
    <ion-toolbar color="primary">
      <ion-title>
        Clientes
      </ion-title>
  
      <ion-buttons slot="end">
          <ion-button (click)="mostrarPop( $event)">
            <ion-icon color="primary" name = "contact" slot="icon-only"></ion-icon>
          </ion-button>
  
        </ion-buttons>
        
    </ion-toolbar>
  </ion-header> -->
  <app-header titulo="Clientes"></app-header>

<ion-toolbar>

    <!-- Default Segment -->
<ion-segment (ionChange)="segmentChanged($event)">
    <ion-segment-button value="clientes">
      <ion-label>Clientes</ion-label>
    </ion-segment-button>
    <ion-segment-button value="nuevos">
      <ion-label>Crear nuevo</ion-label>
    </ion-segment-button>
  </ion-segment>
    

  </ion-toolbar>

<ion-content >

  <div  [ngClass]="{slidesContainer: segment.value === 'clientes'}"   *ngIf="clientes.length == 0">
      <ion-slides class="slide-full" *ngIf="segment.value === 'clientes'"  [options]="slideSoloOpts">
          <ion-slide  >
             <p class="centrado">
                No se ha creado ningun cliente 
             </p> 
          </ion-slide>
        </ion-slides>
  </div>
    

      <div *ngIf="clientes.length > 0">
          <app-lista-clientes *ngIf="segment.value === 'clientes'" [clientes]="clientes"  (borrado) = "clientesBorados( $event)"></app-lista-clientes>
      </div>

  


<!-- Crear usuario -->
  <form class="animated fadeIn fast" *ngIf="segment.value === 'nuevos'" (ngSubmit)= "registro( fRegistro ) " #fRegistro="ngForm">
    <ion-grid fixed>

        <ion-row>
            <ion-col text-center>
                <h3>Agregar nuevo cliente</h3>
            </ion-col>
        </ion-row>

      <ion-row>
        <ion-col size="12" text-center>
          <ion-icon color="primary" class="icono" name="contact"></ion-icon>
        </ion-col>
      </ion-row>


      <ion-row>
        <ion-col >

          <ion-list>
              <ion-item>
                <ion-label>Nombre</ion-label>
                <ion-input name="nombre"
                          type="text"
                          min="5"
                          [(ngModel)]="nuevoCliente.nombre"
                          required></ion-input>
                </ion-item>  

                <ion-item>
                <ion-label>Apellidos</ion-label>
                <ion-input name="apellidos"
                            type="text"
                            [(ngModel)]="nuevoCliente.apellidos"
                            required></ion-input>   
                </ion-item>  
                <ion-item>
                    <ion-label>Telefono</ion-label>
                    <ion-input name="telefono"
                                type="number"
                                [(ngModel)]="nuevoCliente.telefono"
                                required></ion-input>   
                    </ion-item>    

          </ion-list>
        
        </ion-col>
      </ion-row>

      <ion-row>
          <ion-col >
              <ion-button class="top-20"
                           type="submit"
                          expand='full'
                          color="tertiary"
                          shape="round"
                          [disabled]="creando">
                  Crear cliente
              </ion-button>
          </ion-col>
      </ion-row>
    </ion-grid>
  </form>


</ion-content>
