.image-slide {
    width: 100%;
    height: 100px;

    // background-color: red;

    /* Full height */
    // height: 100%; 

    /* Imagen centrada y colocada de forma elegante */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.citasContainer {
    min-height: 100px;
}